{{#if css}}
  import styles from "./{{lower name}}.module.css"
{{else}}
  import styles from "./{{lower name}}.module.scss";
{{/if}}

import React from 'react';
/**
* {{name}}
*/

const {{ camelcase name }} = ({ content }) =>
(
  {{#if css}}
    <p className={styles.element}>{content}</p>
  {{else}}
    <p className={styles.element}>{content}</p>
  {{/if}}
)

export default {{camelcase name}};
